/* Allgemeine Stile für den gesamten Körper */
body {
  font-family: Arial, sans-serif;
}

/* Stil für den Kopfbereich */
header {
  background-color: #c8001d;
  color: white;
  padding: 10px;
}

/* Stil für den Inhaltsbereich */
content {
  padding: 20px;
}

/* Stile für Überschriften */
h1, h2 {
  font-weight: bold;
  background-color: #c8001d;
}

/* Stil für den Upload-Bereich */
#drope_zone {
  border: 2px dashed #ccc;
  padding: 20px 10px;
  text-align: center;
  color: #e04242;
  margin-top: 10px;
}


/* Stil für Schaltflächen */
button {
  padding: 5px 10px;
  margin-right: 5px;
}

/* Stil für den Fußbereich */
footer {
  margin-top: 20px;
}

/* Stil für das aktuelle Datum */
.current-date {
  font-weight: bold;
  color: red;
}

.holiday {
  background-color: #ff69b4; /* or any other color you prefer */
  color: #fff;
}

.calendar {
  border-collapse: collapse;
  width: 100%;
}

.calendar th, .calendar td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.workday {
  background-color: #f0f0f0;
}

.weekend {
  background-color: #5c5a5a; /* or any other color you prefer */
}